.day-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;

  .day-number {
    font-weight: 500;
    padding: 5px 10px;
  }
}

.-isWeekend {
  color: #7C95A8;
  background-color: #F2F2F2;
}